<% unless @notes.empty? %>   
	<% @notes.each do |note| %>   
		<%= render :partial => 'notes/note_data', :locals => {:limit => 1000}, :object => note %> 
	<% end %>
	<p class="pagination"> <%= pagination_links_full @notes_pages, nil, :params => {:project_id => params[:project_id], :tag => params[:tag]}%>  </p>   
<% else %>
  <p class="nodata"><%=l(:label_no_data)%></p>
<% end %>
